/* EE Trial Specific Stylesheet */

/* Main Nav Overrides */
.navbar-gitlab.has-trial-banner {
  top: 52px;
}

.page-with-sidebar.has-trial-banner {
  /* Secondary Nav Overrides - Old Nav */
  margin-top: 102px;

  /* Sidebar Nav Overrides - New Nav */
  .nav-sidebar {
    top: 102px;
  }
}
